<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proaimltd.web.video.model.mapper.PubVideoInfoMapper">
	<resultMap id="BaseResultMap" type="com.proaimltd.web.video.model.entity.PubVideoInfo">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="origin_name" jdbcType="VARCHAR" property="originName"/>
		<result column="hash_name" jdbcType="VARCHAR" property="hashName"/>
		<result column="user_name" jdbcType="VARCHAR" property="username"/>
		<result column="file_mime_type" jdbcType="VARCHAR" property="fileMimeType"/>
		<result column="ach_tag" jdbcType="BIT" property="achTag"/>
		<result column="file_md5" jdbcType="VARCHAR" property="fileMd5"/>
		<result column="parts" jdbcType="INTEGER" property="parts"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
	</resultMap>
	<sql id="Base_Column_List">
		id, origin_name, hash_name, user_name, file_mime_type, ach_tag, file_md5, parts,
		create_time, update_time, is_deleted
	</sql>
	<select id="selectPubVideoInfoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from pub_video_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deletePubVideoInfoByPrimaryKey" parameterType="java.lang.Long">
		DELETE FROM pub_video_info
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertPubVideoInfo" parameterType="com.proaimltd.web.video.model.entity.PubVideoInfo">
		INSERT INTO pub_video_info (origin_name, hash_name,
									user_name, file_mime_type, ach_tag,
									file_md5, parts)
		VALUES (#{originName,jdbcType=VARCHAR}, #{hashName,jdbcType=VARCHAR},
										#{username,jdbcType=VARCHAR}, #{fileMimeType,jdbcType=VARCHAR}, #{achTag,jdbcType=BIT},
										#{fileMd5,jdbcType=VARCHAR}, #{parts,jdbcType=INTEGER})
		<selectKey keyProperty="id" keyColumn="id" resultType="long" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	<insert id="insertPubVideoInfoSelective" parameterType="com.proaimltd.web.video.model.entity.PubVideoInfo">
		insert into pub_video_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="originName != null">
				origin_name,
			</if>
			<if test="hashName != null">
				hash_name,
			</if>
			<if test="username != null">
				user_name,
			</if>
			<if test="fileMimeType != null">
				file_mime_type,
			</if>
			<if test="achTag != null">
				ach_tag,
			</if>
			<if test="fileMd5 != null">
				file_md5,
			</if>
			<if test="parts != null">
				parts,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="originName != null">
				#{originName,jdbcType=VARCHAR},
			</if>
			<if test="hashName != null">
				#{hashName,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="fileMimeType != null">
				#{fileMimeType,jdbcType=VARCHAR},
			</if>
			<if test="achTag != null">
				#{achTag,jdbcType=BIT},
			</if>
			<if test="fileMd5 != null">
				#{fileMd5,jdbcType=VARCHAR},
			</if>
			<if test="parts != null">
				#{parts,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updatePubVideoInfoByPrimaryKeySelective" parameterType="com.proaimltd.web.video.model.entity.PubVideoInfo">
		update pub_video_info
		<set>
			<if test="originName != null">
				origin_name = #{originName,jdbcType=VARCHAR},
			</if>
			<if test="hashName != null">
				hash_name = #{hashName,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				user_name = #{username,jdbcType=VARCHAR},
			</if>
			<if test="fileMimeType != null">
				file_mime_type = #{fileMimeType,jdbcType=VARCHAR},
			</if>
			<if test="achTag != null">
				ach_tag = #{achTag,jdbcType=BIT},
			</if>
			<if test="fileMd5 != null">
				file_md5 = #{fileMd5,jdbcType=VARCHAR},
			</if>
			<if test="parts != null">
				parts = #{parts,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updatePubVideoInfoByPrimaryKey" parameterType="com.proaimltd.web.video.model.entity.PubVideoInfo">
		UPDATE pub_video_info
		SET origin_name    = #{originName,jdbcType=VARCHAR},
			hash_name      = #{hashName,jdbcType=VARCHAR},
			user_name      = #{username,jdbcType=VARCHAR},
			file_mime_type = #{fileMimeType,jdbcType=VARCHAR},
			ach_tag        = #{achTag,jdbcType=BIT},
			file_md5       = #{fileMd5,jdbcType=VARCHAR},
			parts          = #{parts,jdbcType=INTEGER},
			create_time    = #{createTime,jdbcType=TIMESTAMP},
			update_time    = #{updateTime,jdbcType=TIMESTAMP},
			is_deleted     = #{isDeleted,jdbcType=BIT}
		WHERE id = #{id,jdbcType=INTEGER}
	</update>
	<update id="deletePubVideoInfoByMD5" parameterType="string">
		UPDATE pub_video_info t1
		SET t1.is_deleted = 1
		WHERE 1 = 1
			  AND t1.file_md5 = #{md5, jdbcType=VARCHAR}
	</update>
	<select id="queryVideoInfoByMD5" parameterType="string" resultType="com.proaimltd.web.video.model.entity.PubVideoInfo">
		select
			<include refid="Base_Column_List"/>
		from pub_video_info t1
		where 1=1
		and t1.file_md5 = #{md5,jdbcType=VARCHAR}
		and t1.is_deleted = 0
	</select>
	<update id="setUplaoded" parameterType="long">
		update pub_video_info t1
			set t1.ach_tag = 1
		where 1=1
		and t1.file_md5 = #{id,jdbcType=BIGINT}
		and t1.is_deleted = 0
	</update>
</mapper>