<!--
	@projectName: springboot-demo
	@packageName: templates
	@author: proaim
	@date: 2019/9/11 14:12
	@description：TODO
--><!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="UTF-8">
	<title>首页</title>
</head>
<style>
	.header-panel{
		width: 100%;
		height: 20px;
		background: palevioletred;
	}
	.header-Title{
		font-size: 12px;
	}
</style>
<body>
	<header>
		<div>
			<div class="header-panel">
				<span class="header-Title">方方的第一版主页</span>
			</div>
			<div class="uploadVideo">
				<button class="upload">上传视频</button>

			</div>
		</div>
	</header>
</body>
</html>